<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://axelor.com/xml/ns/object-views https://axelor.com/xml/ns/object-views/object-views_7.4.xsd">

    <dashboard title="Orders" name="orders.dashboard">
        <dashlet action="chart:chart.most.popular.food.pie"/>
        <dashlet action="chart:chart.most.popular.portion"/>
        <dashlet colSpan="12" action="custom:report.employees.with.no.orders"/>
        <dashlet action="custom:custom.top.employees"/>
        <dashlet action="custom:custom.average.check"/>
        <dashlet action="custom:custom.total.sum.ever"/>
    </dashboard>

    <action-view name="orders" title="Orders">
        <view type="dashboard" name="orders.dashboard"/>
    </action-view>


    <menuitem name="menu-order-reports"
              title="lunch statistics" action="orders"/>


</object-views>