<?xml version="1.0" encoding="UTF-8"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://axelor.com/xml/ns/object-views https://axelor.com/xml/ns/object-views/object-views_7.4.xsd">


    <menuitem name="menu-attendance" title="Attendance" icon="fa fa-clock-o"/>

    <menuitem name="menu-attendance-session"
              parent="menu-attendance"
              title="Attendance Sessions"
              action="attendance.sessions"/>

    <menuitem name="menu-attendance-reports"
              parent="menu-attendance"
              title="Reports"
              icon="fa fa-chart-pie"/>

    <menuitem name="menu-statistic" title="Statistic"
              action="statistic-ac" />
</object-views>
